<div class="cards" *ngFor="let solo of hornSolos">
    <div class="{{solo.class}}">
        <div *ngIf="flip && divIdCheck(solo.divId); then thenBlock else elseBlock"></div>
        <ng-template #elseBlock>
            <div class="card" (click)="flipCard(solo.divId)">
                <img src ="{{solo.png}}" aria-label="PDF of Music">
                <div class="container">
                    <div class="songTitle">{{solo.songTitle}}</div>
                    <div class="cardText">By {{solo.composer}}</div>                    
                </div>
            </div>
        </ng-template>
        <ng-template #thenBlock>
            <div class="overlayCard">
                <div class="overlayText"><button class="back" (click)="flipCard(solo.divId)">back>></button><br><br>{{solo.description}}<br><br>
                    {{solo.personalNote}}<br><br>Total play time: About {{solo.songLength}} minutes.
                    <br><br><a href="{{solo.recording}}">Favorite YouTube Recording</a><br><br>
                    <a href="{{solo.pdf}}">Link to password protected PDF file</a>
                    <div class="timestamp"><br>Last updated:<br>{{ time | async | date: 'long'}}</div>
                </div>
            </div>
        </ng-template>
    </div>
</div>
