$font-family: Helvetica
$title-border: 3px solid rgb(4, 18, 141)

.center
    font-family: $font-family
    text-align: center
    border: $title-border
    line-height: 80px
    font-size: 45pt
    border-radius: 20px

@media screen and (max-width: 1800px)
    .column
        width: 24%

@media screen and (max-width: 1440px)
    .column
        width: 31%

@media screen and (max-width: 1080px)
    .column
        width: 47.86%

@media screen and (max-width: 720px)
    .column
        width: 100%
    .center
        font-size: 30pt


    